.dialogs {
  display: grid;
  grid-template-areas:
    "d m"
    "d t";
  grid-template-columns: 20fr 20fr;
}
.dialogsItems {
  padding: 10px;

  color: white;
}
.dialogsItems a {
  text-decoration: none;
  grid-area: d;
}

.dialogsItems .dialog {
}

.message {
  grid-area: m;
}
.activeLink {
  color: orange;
}
.dialog {
  color: orangered;
}
.textButton {
  grid-area: t;
}
.dialogImg {
  width: 40px;
}
