.friendsSiteBar a {
  color: red;
  text-decoration: none;
  font-size: 23px;
}
.Nav {
  grid-area: n;
  padding: 20px;
  background-color: rgb(224, 193, 12);
}
.activeLink {
  color: gold;
}

.settings {
}
.FriendsItem a {
  text-decoration: none;
  color: black;
  display: inline-block;

}
.friendsSiteBar {

  padding-top: 60px;
}
.friendsOnline {
  /*list-style: none;*/
  display: flex;
  width: 40px;
  padding: 5px 5px;
  /*width: fit-content;*/
}
